.main-container{
	width: 960px;
	margin: 0 auto;
}
.fixed-content{
	width: 250px;
	position: absolute;
}
.navigation-list{
	padding: 0;
	margin: 0;
	list-style: none;
	border-radius: 5px;
	overflow: hidden;
	background-color: #EFF3F7;
	margin-bottom: 21px;	
}
.navigation-item{
	height: 73px;
	margin: 0 10px;
	border-bottom: 2px solid #3BA8C0;
}
.navigation-item.current{
	margin: 0;
	border: none;
	background: #3BA8C0;
	padding-left: 10px;
}
.navigation-item:last-child{
	border: none;
}
.nav-last{
	border: none;
}
.navigation-item a{
	display: block;
	text-decoration: none;
	color: #959AA8;
	padding: 19px 21px;
	font-size: 21px;
	cursor: url(/img/cursor.png), pointer;
}
.navigation-item.current a{
	color: #FFFFFF !important;
	font-size: 22px;
}
.navigation-item a:hover{
	color: #3BA8C0;
}
.contacts{
	border-radius: 5px;
	overflow: hidden;
}
.contacts-list{
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #EFF3F7;
}
.contacts-header{
	background: #3BA8C0;
	color: #FFFFFF;
	padding: 6px 0 0px 20px;
	font-size: 21px;
}
.contacts-item{
	height: 39px;
	padding-left: 80px;
}
.contacts-item .contacts-link{
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	padding-top: 6px;
	font-size: 17px;
	cursor: url(/img/cursor.png), pointer;
}
.contacts-item .contacts-link:hover{
	text-decoration: underline;
}
.contacts .icon-mail{
	background: url(/img/mail.png) 42px 10px no-repeat;
	background-color: #41B9D4;
}
.contacts .icon-skype{
	background: url(/img/skype.png) 42px 8px no-repeat;
	background-color: #51DAF8;
}	
.contacts .icon-phone{
	background: url(/img/tel.png) 42px 6px no-repeat;
	background-color: #48CBE8;
}
.variable-content{
	width: 650px;
	float:right;
}
.profile-header{
	display: inline-block;
	font-size: 27px;
	color: #3BA8C0;
	padding: 14px 20px 10px 20px;
	border-bottom: 2px solid #3BA8C0;
}
.profile-body{
	padding: 20px 50px 40px 50px;
}
.profile{
	clear: right;
	background-color: #EFF3F7;
	margin-bottom: 31px;
	border-radius: 3px;
}
.profile-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.avatar-wrapper{
	width: 142px;
	height: 142px;
	border-radius: 50% 50%;
	border: 5px solid #36a9be;
	overflow: hidden;
	margin-top: 22px;
	position: absolute;
}
.avatar { 
    width: 100%;
}
.characteristics{
	float: right;
}
.characteristics-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.characteristics-item{
	padding-top: 5px;
}
.characteristics-property{
	display: inline-block;
	font-family: 'fira_sansmedium';
	font-size: 17px;
	vertical-align: top;
	color: #4a545d;
}
.characteristics-value{
	display: inline-block;
	margin-left: 15px; 
	font-family: 'fira_sansbook';
	font-size: 15px;
	color: #37424d;
}
.skills-list{
	padding: 0;
	list-style: none;
	width: 200px;
	padding-top: 6px;
}
.skills-item{
	display: inline-block;
	padding: 2px 14px 2px 14px;
	margin-left:4px;
	margin-bottom: 3px;
	font-family:'proximanovacond-semibold', sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	border-radius: 3px; /* FF3.6+ */ /* Chrome,Safari4+ */
background: -webkit-linear-gradient(rgba(59,168,192,0.28) 0%, rgba(59,168,192,0.91) 6%, rgba(59,168,192,1) 11%, rgba(59,168,192,1) 44%, rgba(58,165,189,1) 50%, rgba(46,140,162,1) 56%, rgba(46,140,162,1) 89%, rgba(46,140,162,0.91) 94%, rgba(46,140,162,0.29) 100%);
background: -o-linear-gradient(rgba(59,168,192,0.28) 0%, rgba(59,168,192,0.91) 6%, rgba(59,168,192,1) 11%, rgba(59,168,192,1) 44%, rgba(58,165,189,1) 50%, rgba(46,140,162,1) 56%, rgba(46,140,162,1) 89%, rgba(46,140,162,0.91) 94%, rgba(46,140,162,0.29) 100%);
background: linear-gradient(rgba(59,168,192,0.28) 0%, rgba(59,168,192,0.91) 6%, rgba(59,168,192,1) 11%, rgba(59,168,192,1) 44%, rgba(58,165,189,1) 50%, rgba(46,140,162,1) 56%, rgba(46,140,162,1) 89%, rgba(46,140,162,0.91) 94%, rgba(46,140,162,0.29) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#473ba8c0', endColorstr='#4a2e8ca2',GradientType=0 ); /* IE6-9 */
}
.profile-item.icon-work{
	padding-left: 75px;
	background: url(/img/work.png) 10px center no-repeat;
	margin-bottom: 15px;
}
.profile-item.icon-work:last-child{
	margin-bottom: -5px;
}
.profile-item.icon-edu{
	padding-left: 75px;
	background: url(/img/edu.png) 5px center no-repeat;
	margin-bottom: 15px;
}
.profile-item.icon-course{
	padding-left: 75px;
	background: url(/img/course.png) 12px center no-repeat;
}
.profile-item .place{
	font-size: 17px;
	color: #4a545d;
}
.profile-item .period{
	font-family: 'fira_sanslight';
	font-size: 15px;
	color: #4a545d;
	line-height: 100%;
}
.clearfix:after{
	visibility: hidden;
	content: " ";
	height: 0;
	clear: both;
	display: block;
}